<html>
<head>

</head>
<body>
<h2>Lan Playlist</h2>
<p>
	<?php $this->outputStats(); ?>
</p>
<p>
	<a href="https://www.youtube.com/playlist?list=<?php echo $this->config->importPlaylistId ?>">
		Go to Playlist
	</a>
</p>

<p>
	<form action="?action=import">

		<submit>Import</submit>
	</form>
</p>


<br /><br /><br /><br />
<p>
	<a href="?action=delete">
		Delete current playlist items
	</a>
</p>
</body>
</html>